# ==========================================
# Day Isolation Guardrails
# ==========================================

# Ignore initial configuration/setup tracking directories
/Day 01/
/Day 02/

# Ignore personal documentation/cheat sheets tracker files
*Cheatsheet*
*.docx
!README.md

# ==========================================
# Core Virtual Environments (Global Wildcards)
# ==========================================
**/venv/
**/env/
**/ENV/

# ==========================================
# Secret Environment Variables & Credentials
# ==========================================
**/.env
**/config.env
**/*.env

# ==========================================
# Python Runtime Caches
# ==========================================
**/__pycache__/
**/*.pyc
**/*.pyo

# Ignore local database storage layers
**/chroma_storage/
**/chroma_storage_ui/

#Day 7 additional screenshots
/Additonal Screenshots/

# Local Streamlit temporary upload vaults
temp_pdf_vault/

# Dependencies & Build Artifacts (Bloat)
node_modules/
dist/
dist-ssr/
*.local

# IDE / System specific files
.vscode/
.idea/
.DS_Store
thumbs.db